.profile__description {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin: 14px 0 0;
}

@media screen and (min-width: 768px) {
    .profile__description {
        margin-top: 15px;
        font-size: 16px;
        line-height: 20px;
    }
}

@media screen and (min-width: 1024px) {
    .profile__description {
        font-size: 18px;
        line-height: 22px;
        margin-top: 16px;
    }
}