.profile__description {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin: 10px auto 0;
    text-overflow: ellipsis;
    max-width: 180px;
    overflow: hidden;
    white-space: nowrap; 
}

@media screen and (min-width: 768px) {
    .profile__description {
        margin-top: 15px;
        font-size: 16px;
        line-height: 20px;
        max-width: 220px;
        margin-left: 0;
    }
}

@media screen and (min-width: 1024px) {
    .profile__description {
        font-size: 18px;
        line-height: 22px;
        margin-top: 8px;
        max-width: 280px;
    }
}